
# **Simulacion**

## Facilitador: José Gabriel Rodríguez Rivas
## Alumna: Lluvia A. Saenz S.

### **Generación de números aleatorios en Python**

* 100 números aleatorios por el método de centros al cuadrado

* 100 números aleatorios por el método de medios cuadrados



---

## **Centros al Cuadrado**


---

* Se toma un número, se eleva al cuadrado y se extraen los dígitos centrales del
resultado cuadrado.

* El enfoque se centra en la posición central de los dígitos del cuadrado, considerando que la longitud del cuadrado puede ser variable. 123**4567**890

* Por lo general, se suelen extraer un número fijo de dígitos del medio. En el ejemplo siguiente, se tomaron 4 dígitos centrales.

In [31]:
def centros_al_cuadrado(seed, n):

    random_numbers = [] # lista para los numeros

    for _ in range(n):
        #cuadramos
        squared = str(seed ** 2).zfill(8)  # minimo de digitos (8)

        middle_digits = squared[len(squared)//2 - 2:len(squared)//2 + 2] #numeros centrales

        #convertirlo en aleatorio
        seed = int(middle_digits)
        random_numbers.append(seed)

    return random_numbers

In [32]:
seed = 33664  #seed inicial
n = 100  #cantidad numeros

numeros_aleatorios = centros_al_cuadrado(seed, n)

#Imprimir
for i, num in enumerate(numeros_aleatorios):
    print(f"Número {i+1}: {num}")

Número 1: 3264
Número 2: 6536
Número 3: 7192
Número 4: 7248
Número 5: 5335
Número 6: 4622
Número 7: 3628
Número 8: 1623
Número 9: 6341
Número 10: 2082
Número 11: 3347
Número 12: 2024
Número 13: 965
Número 14: 9312
Número 15: 7133
Número 16: 8796
Número 17: 3696
Número 18: 6604
Número 19: 6128
Número 20: 5523
Número 21: 5035
Número 22: 3512
Número 23: 3341
Número 24: 1622
Número 25: 6308
Número 26: 7908
Número 27: 5364
Número 28: 7724
Número 29: 6601
Número 30: 5732
Número 31: 8558
Número 32: 2393
Número 33: 7264
Número 34: 7656
Número 35: 6143
Número 36: 7364
Número 37: 2284
Número 38: 2166
Número 39: 6915
Número 40: 8172
Número 41: 7815
Número 42: 742
Número 43: 5505
Número 44: 3050
Número 45: 3025
Número 46: 1506
Número 47: 2680
Número 48: 1824
Número 49: 3269
Número 50: 6863
Número 51: 1007
Número 52: 140
Número 53: 196
Número 54: 384
Número 55: 1474
Número 56: 1726
Número 57: 9790
Número 58: 8441
Número 59: 2504
Número 60: 2700
Número 61: 2900
Número 62: 4100
Número 63: 8100
Número 64: 6100
Número 65: 2100
Número 66: 4100
Número 67: 8100
Número 68: 6100
Número 69: 2100
Número 70: 4100
Número 71: 8100
Número 72: 6100
Número 73: 2100
Número 74: 4100
Número 75: 8100
Número 76: 6100
Número 77: 2100
Número 78: 4100
Número 79: 8100
Número 80: 6100
Número 81: 2100
Número 82: 4100
Número 83: 8100
Número 84: 6100
Número 85: 2100
Número 86: 4100
Número 87: 8100
Número 88: 6100
Número 89: 2100
Número 90: 4100
Número 91: 8100
Número 92: 6100
Número 93: 2100
Número 94: 4100
Número 95: 8100
Número 96: 6100
Número 97: 2100
Número 98: 4100
Número 99: 8100
Número 100: 6100



---

## **Medios Cuadrados**


---

* Similar al de centros al cuadrado, pero se enfoca en obtener los dígitos centrales de una manera más específica, a menudo extrayendo un número definido de dígitos del medio.

* Al igual que en el método anterior, se extraen los dígitos centrales, pero el enfoque puede variar según el número de dígitos que se consideren, a menudo tomando un número fijo de dígitos (por ejemplo, 4 dígitos).

* Dependiendo de cómo se defina la semilla y el número de dígitos a extraer, el método puede tener un rango de resultados más variado.

In [28]:
def medios_al_cuadrado(seed, n):

    random_numbers2 = [] # lista para los numeros

    for _ in range(n):
        #Cuadrar
        squared = str(seed ** 2).zfill(8) #minimo de digitos (8)

        # Obtener los dígitos centrales (4 dígitos)
        mid_index = len(squared) // 2
        middle_digits = squared[mid_index - 2:mid_index + 2]

       #convertirlo en aleatorio
        seed = int(middle_digits)
        random_numbers2.append(seed)

    return random_numbers2

In [29]:

seed = 33664  #seed
n = 100  #numeros a generar

numeros_aleatorios = medios_al_cuadrado(seed, n)

#Imprimir
for i, num in enumerate(numeros_aleatorios):
    print(f"Número {i+1}: {num}")

Número 1: 3264
Número 2: 6536
Número 3: 7192
Número 4: 7248
Número 5: 5335
Número 6: 4622
Número 7: 3628
Número 8: 1623
Número 9: 6341
Número 10: 2082
Número 11: 3347
Número 12: 2024
Número 13: 965
Número 14: 9312
Número 15: 7133
Número 16: 8796
Número 17: 3696
Número 18: 6604
Número 19: 6128
Número 20: 5523
Número 21: 5035
Número 22: 3512
Número 23: 3341
Número 24: 1622
Número 25: 6308
Número 26: 7908
Número 27: 5364
Número 28: 7724
Número 29: 6601
Número 30: 5732
Número 31: 8558
Número 32: 2393
Número 33: 7264
Número 34: 7656
Número 35: 6143
Número 36: 7364
Número 37: 2284
Número 38: 2166
Número 39: 6915
Número 40: 8172
Número 41: 7815
Número 42: 742
Número 43: 5505
Número 44: 3050
Número 45: 3025
Número 46: 1506
Número 47: 2680
Número 48: 1824
Número 49: 3269
Número 50: 6863
Número 51: 1007
Número 52: 140
Número 53: 196
Número 54: 384
Número 55: 1474
Número 56: 1726
Número 57: 9790
Número 58: 8441
Número 59: 2504
Número 60: 2700
Número 61: 2900
Número 62: 4100
Número 63: 8100
Número 64: 6100
Número 65: 2100
Número 66: 4100
Número 67: 8100
Número 68: 6100
Número 69: 2100
Número 70: 4100
Número 71: 8100
Número 72: 6100
Número 73: 2100
Número 74: 4100
Número 75: 8100
Número 76: 6100
Número 77: 2100
Número 78: 4100
Número 79: 8100
Número 80: 6100
Número 81: 2100
Número 82: 4100
Número 83: 8100
Número 84: 6100
Número 85: 2100
Número 86: 4100
Número 87: 8100
Número 88: 6100
Número 89: 2100
Número 90: 4100
Número 91: 8100
Número 92: 6100
Número 93: 2100
Número 94: 4100
Número 95: 8100
Número 96: 6100
Número 97: 2100
Número 98: 4100
Número 99: 8100
Número 100: 6100